/*
!wp-content/

.*
!.gitignore
!readme.md
~*
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log
*.sql

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/akismet/
wp-content/plugins/jetpack/