/**
 * Gutenberg block editor styles.
 */

/* Editor Width (consider other page templates in future) */

.editor-default-block-appender,
.editor-block-list__block {
  max-width: calc( 700px + 30px ); /* compensate for padding in textarea */
}

.editor-block-list__block[data-align="wide"],
.editor-block-list__block[data-type="core/quote"] {
  max-width: calc( 980px + 28px ); /* compensate for padding */
}

.editor-block-list__block[data-align="full"] { /* make Full behave as Wide, since theme frontend doesn't regard Full */
  max-width: 980px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.editor-block-list__block[data-type="core/freeform"] { /* Classic block */
  max-width: 728px;
}

/* Toolbar */

.components-toolbar button[aria-label="Full width"] {
  display: none; /* hide Full Width button since theme makes it behave same as Wide */
}

/* Text */

.edit-post-visual-editor,
.edit-post-visual-editor a,
.wp-block-freeform.block-library-rich-text__tinymce,
.wp-block-freeform.block-library-rich-text__tinymce a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.edit-post-visual-editor,
.edit-post-visual-editor p,
.edit-post-visual-editor .editor-rich-text__tinymce {
  font-size: 115%;
  line-height: 1.8;
  color: #444;
}

  /* Classic block */

  .edit-post-visual-editor .wp-block-freeform {
    font-size: 100%;
  }

  .edit-post-visual-editor .wp-block-freeform p {
    line-height: 1.6 !important;
  }

b,
strong {
  font-weight: 600;
}

/* Sized Text */

.editor-rich-text__tinymce.has-huge-font-size {
  font-size: 2.6em !important;
  line-height: 1.2 !important;
  color: #000;
}

.editor-rich-text__tinymce.has-large-font-size {
  line-height: 1.3 !important;
  color: #000;
}

.editor-rich-text__tinymce.has-regular-font-size {

}

.editor-rich-text__tinymce.has-small-font-size {
  font-size: 1em !important;
  line-height: 1.6 !important;
}

/* Links */

.wp-block-freeform.block-library-rich-text__tinymce a,
.editor-block-list__block-edit a:not(.blocks-format-toolbar__link-value) {
  text-decoration: none;
  font-weight: normal;
}

/* Title */

.edit-post-visual-editor .editor-post-title {
	max-width: 100%;
	margin: 0 0 2.4em 0;
  position: relative;
}

.editor-post-title__block {
  max-width: 100% !important;
}

.edit-post-visual-editor .editor-post-title .editor-post-title__input {
  margin: 0.8em auto;
  max-width: calc( 980px );
  padding-left: 1em;
  padding-right: 1em;
  font-size: 3.5em;
  font-weight: 200;
  line-height: 0.9;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
  color: #fff;
  position: relative;
}

  /* Placeholder (don't group) */

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-moz-placeholder { /* FF 19+ */
    color: #fff;
    opacity: 1; /* FF lightens it by default, so use 100% */
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input:-ms-input-placeholder { /* IE 10 - 11 */
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-ms-input-placeholder { /* Edge */
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::placeholder { /* Modern browsers */
    color: #fff;
    opacity: 0.5;
  }

/* Block Container */

.editor-block-list__layout {
  padding-top: 20px;
}

/* Headings */

.edit-post-visual-editor .wp-block-heading h1,
.edit-post-visual-editor .wp-block-heading h2,
.edit-post-visual-editor .wp-block-heading h3,
.edit-post-visual-editor .wp-block-heading h4,
.edit-post-visual-editor .wp-block-heading h5,
.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h1, /* Classic block */
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-weight: 300;
  line-height: 1.2;
}

.edit-post-visual-editor .wp-block-heading h1,
.edit-post-visual-editor .wp-block-heading h2,
.edit-post-visual-editor .wp-block-heading h3,
.edit-post-visual-editor .wp-block-heading h4,
.edit-post-visual-editor .wp-block-heading h5,
.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h1, /* Classic block */
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  color: #000;
}

.edit-post-visual-editor .wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 3.2em;
  font-weight: 200;
}

.edit-post-visual-editor .wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 2.2em;
  font-weight: 200;
}

.edit-post-visual-editor .wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 1.9em;
}

.edit-post-visual-editor .wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 1.7em;
}

.edit-post-visual-editor .wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
  font-size: 1.4em;
}

.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-size: 1.3em;
}

.edit-post-visual-editor .wp-block-heading h1 a,
.wp-block-freeform.block-library-rich-text__tinymce h1 a,
.edit-post-visual-editor .wp-block-heading h2 a,
.wp-block-freeform.block-library-rich-text__tinymce h2 a,
.edit-post-visual-editor .wp-block-heading h3 a,
.wp-block-freeform.block-library-rich-text__tinymce h3 a,
.edit-post-visual-editor .wp-block-heading h4 a,
.wp-block-freeform.block-library-rich-text__tinymce h4 a,
.edit-post-visual-editor .wp-block-heading h5 a,
.wp-block-freeform.block-library-rich-text__tinymce h5 a,
.edit-post-visual-editor .wp-block-heading h6 a,
.wp-block-freeform.block-library-rich-text__tinymce h6 a {
  text-decoration: none;
}

.edit-post-visual-editor .wp-block-heading h1 a,
.wp-block-freeform.block-library-rich-text__tinymce h1 a {
  font-weight: 200;
}

.edit-post-visual-editor .wp-block-heading h2 a,
.wp-block-freeform.block-library-rich-text__tinymce h2 a {
  font-weight: 200;
}

.edit-post-visual-editor .wp-block-heading h3 a,
.wp-block-freeform.block-library-rich-text__tinymce h3 a,
.edit-post-visual-editor .wp-block-heading h4 a,
.wp-block-freeform.block-library-rich-text__tinymce h4 a,
.edit-post-visual-editor .wp-block-heading h5 a,
.wp-block-freeform.block-library-rich-text__tinymce h5 a,
.edit-post-visual-editor .wp-block-heading h6 a,
.wp-block-freeform.block-library-rich-text__tinymce h6 a {
  font-weight: 300;
}

/* Button */

.edit-post-visual-editor .wp-block-button .wp-block-button__link,
.maranatha-button {
  display: inline-block;
  position: relative;
  height: 3.07em;
  line-height: 3.07em;
  border-radius: 3.07em;
  border-width: 1px;
  border-style: solid;
  padding: 0 1.375em;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  background: transparent !important;
}

/* Media */

.edit-post-visual-editor .wp-block-audio {
  margin-left: 0;
}

.edit-post-visual-editor .wp-block-audio figcaption,
.edit-post-visual-editor .wp-block-video figcaption,
.edit-post-visual-editor .wp-block-embed figcaption {
  font-size: 0.95em;
  font-style: italic;
  line-height: 1.5;
  color: #777;
  text-align: center;
}

/* Rounded Corners */

.edit-post-visual-editor img {
  border-radius: 0.25em;
}

/* Image Block */

.edit-post-visual-editor .wp-block-image .editor-rich-text__tinymce {
  max-width: 100%;
  text-align: center;
  color: #777;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em;
  font-size: 0.93em;
  font-style: italic;
  line-height: 1.5;
}

.editor-block-list__block[data-type="core/image"][data-align="left"] .wp-block-image,
.editor-block-list__block[data-type="core/image"][data-align="right"] .wp-block-image {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.editor-block-list__block[data-type="core/image"][data-align="left"] .wp-block-image {
  margin-right: 0.4em;
}

.editor-block-list__block[data-type="core/image"][data-align="right"] .wp-block-image {
  margin-left: 0.4em;
}

/* Cover Image */

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

.edit-post-visual-editor .wp-block-cover .wp-block-cover-text {
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.45;
  color: #fff;
}

.edit-post-visual-editor .wp-block-cover .wp-block-cover-text a,
.edit-post-visual-editor .wp-block-cover .wp-block-cover-text a:hover {
  display: inline-block;
  line-height: 1;
  color: #fff !important;
  border-color: #fff !important;
  border-width: 0 0 0.09375em 0 !important;
  text-decoration: underline;
}

.edit-post-visual-editor .wp-block-cover .wp-block-cover-text b,
.edit-post-visual-editor .wp-block-cover .wp-block-cover-text strong {
  font-weight: 600;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  margin-top: 0.7em !important;
  margin-bottom: 0.7em !important;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .wp-block-cover {
  margin-right: 0.3em;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  margin-left: 0.3em;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .editor-rich-text,
.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .editor-rich-text {
    font-size: 0.85em;
    line-height: 1.25 !important;
}

/* Gallery */

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption {
  padding-bottom: 10px;
  font-size: 0.85em;
  font-style: italic;
  line-height: 1.3;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption a,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption a:hover {
  color: #fff !important;
  text-decoration: underline;
  font-style: normal;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption i,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption em {
  font-style: normal;
}

/* Blockquote */

.edit-post-visual-editor .wp-block-quote {
  border: 0 !important;
  padding: 0;
}

.edit-post-visual-editor .wp-block-quote .editor-rich-text__tinymce {
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0.7em 0 2.8125em !important;
  font-style: italic;
  font-weight: 300;
  color: #000;
}

.edit-post-visual-editor .wp-block-quote .editor-rich-text__tinymce p {
  margin-top: 0.6em;
  margin-bottom: 0;
  font-size: 1.39em;
  line-height: 1.45;
  color: #000;
}

.edit-post-visual-editor .wp-block-quote .editor-rich-text__tinymce p:first-child {
  margin-top: 0;
}

.edit-post-visual-editor .wp-block-quote .editor-rich-text__tinymce p:before {
  position: absolute;
  top: -0.275em;
  left: -0.05em;
  content: "\201C";
  font-size: 3.7em;
  font-style: normal;
  font-weight: 600;
  color: #555;
}

.edit-post-visual-editor .wp-block-quote .wp-block-quote__citation.editor-rich-text__tinymce {
  display: block;
  margin-top: 1.4em;
  padding-left: 3.4em !important;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

/* Blockquote Style 2 (Large) */

.edit-post-visual-editor .wp-block-quote.is-style-large .editor-rich-text__tinymce p {
  font-size: 1.95em !important;
  line-height: 1.3 !important;
  padding-left: 0.2em !important;
}

.edit-post-visual-editor .wp-block-quote.is-style-large .editor-rich-text__tinymce p:before {
  top: -0.22em;
  left: 5px;
  font-size: 2.85em;
}

.edit-post-visual-editor .wp-block-quote.is-style-large .wp-block-quote__citation.editor-rich-text__tinymce {
  margin-top: 1.6em;
  padding-left: 4em !important;
  text-align: left !important;
}

.edit-post-visual-editor .wp-block-quote.is-style-large .wp-block-quote__citation.editor-rich-text__tinymce p {
  font-size: 1.35em !important;
}

/* Pullquote */

.edit-post-visual-editor .wp-block-pullquote {
  border: 0;
  padding: 2.2em 2.4em !important;
  background-color: #f7f7f7;
  border-radius: 0.25em;
}

.edit-post-visual-editor .wp-block-pullquote .block-library-pullquote__content .editor-rich-text__tinymce p {
  width: 100% !important;
  font-size: 1.55em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
}

.edit-post-visual-editor .wp-block-pullquote .wp-block-pullquote__citation.editor-rich-text__tinymce {
  display: block;
  margin-top: 1.4em;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft,
.edit-post-visual-editor .wp-block-pullquote.alignright {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft {
  margin-right: 2.5em;
}

.edit-post-visual-editor .wp-block-pullquote.alignright {
  margin-left: 2.5em;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft .editor-rich-text__tinymce p,
.edit-post-visual-editor .wp-block-pullquote.alignright .editor-rich-text__tinymce p {
  font-size: 1.1em;
}

/* Code + Pre */

.edit-post-visual-editor .wp-block-code,
.edit-post-visual-editor .wp-block-preformatted {
  font-size: 1em;
}

.edit-post-visual-editor .wp-block-code .editor-plain-text,
.edit-post-visual-editor .wp-block-preformatted .editor-rich-text__tinymce {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 0.85em;
  color: #000;
}

/* Verse (Poetry) */

.edit-post-visual-editor .wp-block-verse {
  padding: 0.9em 1.3em;
  border-radius: 0.25em;
  background-color: #f7f7f7;
}

.edit-post-visual-editor .wp-block-verse .editor-rich-text__tinymce {
  font-size: 1.35em;
  color: #000;
}

/* Separator */

.edit-post-visual-editor .wp-block-separator {
  width: 200px !important;
  max-width: 100% !important;
  border-color: #ddd;
  border-width: 1px;
}

.edit-post-visual-editor .wp-block-separator.is-style-wide {
  width: 100% !important;
}

.edit-post-visual-editor .wp-block-separator.is-style-dots:before {
  color: #aaa;
}

/* Has Background */

.edit-post-visual-editor .has-background {
  border-radius: 0.25em;
  font-size: 1.1em !important;
}

.edit-post-visual-editor .has-background.has-main-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-accent-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-dark-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-light-background-color:not(.has-text-color) {
  color: #fff;
}

.edit-post-visual-editor .has-background.has-main-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-accent-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-dark-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-light-background-color:not(.has-text-color) a {
  color: #fff;
  text-decoration: underline;
}

.edit-post-visual-editor .has-background.has-text-color a,
.edit-post-visual-editor .has-background.has-text-color a,
.edit-post-visual-editor .has-background.has-text-color a,
.edit-post-visual-editor .has-background.has-text-color a {
  color: inherit;
  text-decoration: underline;
}

.edit-post-visual-editor .has-accent-color a,
.edit-post-visual-editor .has-accent-color a:hover {
  text-decoration: underline;
}

/* Table */

.edit-post-visual-editor .wp-block-table .wp-block-table__cell-content {
    font-size: 1.05em;
}

.edit-post-visual-editor .wp-block-table tr:first-of-type .wp-block-table__cell-content strong {
    color: #000;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
}

/* Dropcap */

.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  margin: -0.05em 0.15em 0 0;
  font-weight: 300;
  font-size: 3.8em;
  line-height: 1;
  color: #000;
}

/* Latest Posts, Categories, Archives */

.edit-post-visual-editor .wp-block-latest-posts,
.edit-post-visual-editor .wp-block-categories,
.edit-post-visual-editor .wp-block-archives {
  font-size: 1.15em;
  line-height: 1.4;
}

.editor-block-list__block[data-type="core/categories"][data-align="center"] ul,
.editor-block-list__block[data-type="core/archives"][data-align="center"] ul {
  list-style: none;
  padding-left: 0;
}

/* Categories */

.edit-post-visual-editor .wp-block-categories {

  font-size: 1.15em;
  line-height: 1.4;
}

/* Classic Block */

.edit-post-visual-editor .wp-block-freeform > * {
  line-height: 1.4 !important;
}

.edit-post-visual-editor .wp-block-freeform > p {
  font-size: 115%;
}

.edit-post-visual-editor .wp-block-freeform > *,
.edit-post-visual-editor .wp-block-freeform > p > img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-post-visual-editor .wp-block-freeform > p > img {
  padding-top: 10px;
  padding-bottom: 10px;
}

  .edit-post-visual-editor .wp-block-freeform > p > img:first-child {
    margin-top: 0;
  }

  .edit-post-visual-editor .wp-block-freeform > p > img:last-child {
    margin-bottom: 0;
  }

.edit-post-visual-editor .wp-block-freeform table {
  width: 100%;
  border: none;
}

  .edit-post-visual-editor .wp-block-freeform caption {
    margin-bottom: 1.25em;
    font-style: italic;
    text-align: left;
  }

  .edit-post-visual-editor .wp-block-freeform th {
    padding: 0 1.5625em 0.3125em 0;
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
  }

  .edit-post-visual-editor .wp-block-freeform td {
    padding: 0.3125em 1.5625em 0.3125em 0;
    font-size: 1em;
  }

.edit-post-visual-editor .wp-block-freeform li,
.edit-post-visual-editor .wp-block-freeform dl {
  font-size: 18px;
}

.edit-post-visual-editor .wp-block-freeform dt {
  margin-top: 22px;
  font-size: 16.5px;
  text-transform: uppercase;
  color: #000;
}

.edit-post-visual-editor .wp-block-freeform dt,
.edit-post-visual-editor .wp-block-freeform dd {
  margin-left: 30px;
  padding: 0;
  line-height: 1.7 !important;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption {
  padding-bottom: 10px;
  font-size: 0.9em;
  font-style: italic;
  color: #777;
  text-align: center;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption .wp-caption-dd {
  line-height: 1.5 !important;
}

.edit-post-visual-editor .wp-block-freeform blockquote {
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0.7em 0 3em !important;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  border: none;
}

  .edit-post-visual-editor .wp-block-freeform blockquote p {
    margin-top: 0;
    margin-bottom: 0.6875em;
    font-size: 1.4em;
    color: #000;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote p:last-child {
    margin-bottom: 0;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote:before {
    position: absolute;
    top: -0.25em;
    left: 0;
    display: block;
    content: "\201C";
    font-size: 5.2em;
    font-style: normal;
    font-weight: 600;
    color: #555;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote cite {
    display: block;
    margin-top: 1.6875em !important;
    font-size: 0.6em !important;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase !important;
    color: #000 !important;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote cite:before {
    content: "\2014 \2009";
    font-weight: 300;
  }

